---
layout: archive
title: "Teaching and Outreach"
permalink: /teaching/
author_profile: true
---

I am the co-founder and executive director of [Climatematch Academy](academy.climatematch.io),
a two week virtual program that introduces fundamentals of climate science by taking advantage
of open-source, python-based tools, to access, analyze and interpret climate data. 

Students do no need to be from elite universities with supercomputer resources and rich datasets
to work with climate data. We aim to close this gap by educating students on available open-source
tools and datasets for them to pursue their science from anywhere around the world. Students are
matched based on common interests, timezone and preferred language, and receive personalized
support as they work through hands-on tutorials and collaborate on course projects

Our content includes three segments– Paleoclimate, Modern Climate, and Future Climate– through which we
will examine applications in land, ocean, and the atmosphere. Additionally, we will introduce
cutting edge methods focused towards mitigating and adapting to our changing climate.

Our team includes dozens of motivated and talented volunteers from around the world, working to develop high-quality program tutorials,
projects, professional development seminars, and so much more. In effort to build a global and diverse climate science community,
we are building on the successful [Neuromatch Academy](academy.neuromatch.io) teaching
model, with the potential to reach thousands of students worldwide.

You can learn more about Climatematch Academy on on our [website](academy.climatematch.io).  Please consider getting involved! 


%%%%%%%%%%%%%%
% Summer @ Brown
% Simons panel
% 



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
